<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CFP PC-DF</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVAubcgQcF1rk0ZdnoGNsIVYsTAnQo_r8&amp;sensor=true"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mapa_cfp")
    <link href="~/Content/_Layout/cfp.css" rel="stylesheet" />

</head>
<body>

    <div class="m-4">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav navbarmenu">
                        <a class="nav-link" href="~/DepartamentoPolicia/BuscaDelegacias">Delegacias</a>
                        <a class="nav-link" href="~/Aluno/BuscarAlunos">Alunos</a>
                        <a class="nav-link" href="~/Estatisticas/EstatisticasDF">Estatísticas</a>
                    </div>
                </div>

            </div>
        </nav>
    </div>

    @RenderBody()


    <footer>

        <div>
            <p style="padding-left: 20px;">
                <small>
                    <b style="font-size: 12px;">
                        Contato: Wagner Nogueira. 
                        @*<a href="https://www.instagram.com/nogueirawgn/" target="_blank">
                            <img title="Contato: &#13;&#10;(62) 99373-1723 " src="~/Images/Home/instagram.png">
                        </a>*@
                    </b>
                    <br />
                    <b style="font-size: 12px;">E-mail: arquitetowagnernogueira@gmail.com</b>

                </small>
            </p>

        </div>
    </footer>
</body>

@RenderSection("scripts", required: false)


</html>




