<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar Candidatos CFP PC-DF</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CFP PC-DF</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/mapa_cfp")
    <link href="~/Content/_Layout/cfp.css" rel="stylesheet" />

</head>
<body>
    <div class="menunavegacao col-md-12 col-sm-12 col-xs-12" id="menuHeader">
        <div class="row logomenu col-md-4 col-sm-4 col-xs-10">

        </div>
        <div class="navbarmenu col-md-8">
            <nav class="navbar navbar-findcond">
                <div class="container">
                    <div class="collapse navbar-collapse" id="teste">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="active"><a href="~/Candidato/Create">Cadastrar <span class="sr-only">(current)</span></a></li>
                            <li class="active"><a href="~/Candidato/BuscaCandidatos">Ver Candidatos <span class="sr-only">(current)</span></a></li>
                        </ul>
                    </div>

                </div>

            </nav>
        </div>
        <div class="redessociaistopo col-md-1 col-sm-2">
            <span><a href="https://www.instagram.com/nogueirawgn/" target="_blank"><img title="Contato: &#13;&#10;Wagner Nogueira &#13;&#10;(62) 99373-1723 " src="~/Images/Home/instagram2.png" id="redessociais"></a></span>
        </div>
    </div>


    @RenderBody()
</body>


@RenderSection("scripts", required: false)

</html>




