@model GestaoDDD.Application.ViewModels.CandidatoViewModel
@{
    Layout = "~/Views/Shared/_CFP.cshtml";
}
<link href="~/Content/Candidato/candidato.css" rel="stylesheet" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPb6icqT4MScket_GqPIIyPGl5A6CcThg&amp;sensor=true"></script>
<script src="~/Scripts/GoogleMaps/Candidatos/mapa_candidato.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Styles/sweetalert.css" rel="stylesheet" />

<div class="m-4">

    <div class="row col-md-12">
        <h4>
            <b>Informe a região em que está hospedado.</b>
        </h4>
        
    </div>

    <div class="row formulario col-md-12">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-form form-group col-md-12">
                <label for="nome">Nome</label>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreva seu nome ou de seus colegas" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-12">
                <label for="descricao">Descrição:</label>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreva algo que considere importante" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-2">
                <label for="telefone">Telefone</label>
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @placeholder = "(62) 99999-9999" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-2">
                <label for="tipoVeiculo">Possui veículo na casa?</label>
                <select class="form-control" id="tipoVeiculo" name="TipoVeiculo">
                    <option>Não</option>
                    <option>3 Carros</option>
                    <option>2 Carros</option>
                    <option>1 Carro</option>
                    <option>1 Moto</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="QtdVagasCarro">Possui vagas no veículo?</label>
                <select class="form-control" id="qtdVagasCarro" name="QtdVagasCarro">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="QtdVagasDisponivelCasa">Tem vaga na casa?</label>
                <select class="form-control" id="qtdVagasDisponivelCasa" name="QtdVagasDisponivelCasa">
                    <option>0</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="turma">Qual sua turma?</label>
                <select class="form-control" id="turma" name="Turma">
                    <option>Todos T1</option>
                    <option>Todos T2</option>
                    <option>Todos T3</option>
                    <option>Misturado</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="Valor">Preço média por pessoa:</label>
                <input type="text" id="valor" name="Valor" class="form-control" placeholder="R$ 1.500 ou 0." value="0" />
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-10">
                <label for="endereco">Endereço:</label>
                <input type="text" id="endereco" name="Endereco" class="form-control" placeholder="Entre com o CEP ou parte do endereço. Ex: Tagua Life" />
                @Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })
            </div>

            <div class="botao-marcar col-md-2" style="padding-top: 5px;">
                <input type="button" class="botao btn btn-sm btn-marcamapa" id="btnEndereco" name="btnEndereco" value="Marcar no mapa" />
            </div>

            <div class="mapa ">
                <div id="mapa" class="map-mapa"></div>
                <input type="hidden" id="latitude" name="Latitude" />
                <input type="hidden" id="longitude" name="Longitude" />
            </div>

            <div class="col-form col-md-2">
                <input type="submit" class="btn btn-enviar" data-style="expand-right" value="Cadastrar" />
            </div>

        }
    </div>

</div>

