@model GestaoDDD.Application.ViewModels.CandidatoViewModel

@{
    Layout = "~/Views/Shared/_CFP.cshtml";
}

<link href="~/Content/Candidato/candidato.css" rel="stylesheet" />
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPb6icqT4MScket_GqPIIyPGl5A6CcThg&amp;sensor=true"></script>
<script src="~/Scripts/GoogleMaps/Candidatos/mapa_editar_candidato.js"></script>
<script src="~/Scripts/jquery-ui.custom.min.js"></script>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script src="~/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Scripts/sweetalert.min.js"></script>
<link href="~/Styles/sweetalert.css" rel="stylesheet" />

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row texto-formulario col-md-12">
            <h1><b>Editar informações do @Model.Nome</b></h1>
        </div>

        <div class="row formulario col-md-12">


            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-form form-group col-md-12">
                <label for="nome">Nome</label>
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreva seu nome ou de seus colegas" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-12">
                <label for="descricao">Descrição:</label>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @placeholder = "Descreva algo que considere importante" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-2">
                <label for="telefone">Telefone</label>
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control", @placeholder = "(62) 99999-9999" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-2">
                <label for="tipoVeiculo">Possui veículo na casa?</label>
                <select class="form-control" id="tipoVeiculo" name="TipoVeiculo">
                    <option value="Não" @(Model.TipoVeiculo == "Não" ? "selected" : "")>Não</option>
                    <option value="3 Carros" @(Model.TipoVeiculo == "3 Carros" ? "selected" : "")>3 Carros</option>
                    <option value="2 Carros" @(Model.TipoVeiculo == "2 Carros" ? "selected" : "")>2 Carros</option>
                    <option value="1 Carro" @(Model.TipoVeiculo == "1 Carro" ? "selected" : "")>1 Carro</option>
                    <option value="1 Moto" @(Model.TipoVeiculo == "1 Moto" ? "selected" : "")>1 Moto</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="QtdVagasCarro">Possui vagas no veículo?</label>
                <select class="form-control" id="qtdVagasCarro" name="QtdVagasCarro">
                    <option @((Model.QtdVagasCarro == 0) ? "selected" : "")>0</option>
                    <option @((Model.QtdVagasCarro == 1) ? "selected" : "")>1</option>
                    <option @((Model.QtdVagasCarro == 2) ? "selected" : "")>2</option>
                    <option @((Model.QtdVagasCarro == 3) ? "selected" : "")>3</option>
                    <option @((Model.QtdVagasCarro == 4) ? "selected" : "")>4</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="QtdVagasDisponivelCasa">Tem vaga na casa?</label>
                <select class="form-control" id="qtdVagasDisponivelCasa" name="QtdVagasDisponivelCasa">
                    @for (int i = 0; i <= 4; i++)
                    {
                        <option value="@i" @(i == Model.QtdVagasDisponivelCasa ? "selected" : "")>@i</option>
                    }
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="turma">Qual sua turma?</label>
                <select class="form-control" id="turma" name="Turma">
                    <option @(Model.Turma == "Todos T1" ? "selected" : "")>Todos T1</option>
                    <option @(Model.Turma == "Todos T2" ? "selected" : "")>Todos T2</option>
                    <option @(Model.Turma == "Todos T3" ? "selected" : "")>Todos T3</option>
                    <option @(Model.Turma == "Misturado" ? "selected" : "")>Misturado</option>
                </select>
            </div>

            <div class="col-form form-group col-md-2">
                <label for="Valor">Preço média por pessoa:</label>
                @Html.EditorFor(model => model.Valor, new { htmlAttributes = new { @class = "form-control", @placeholder = "R$ 1.500 por pessoa." } })
                @Html.ValidationMessageFor(model => model.Valor, "", new { @class = "text-danger" })
            </div>

            <div class="col-form form-group col-md-10">
                <label for="endereco">Endereço:</label>
                @*<input type="text" id="endereco" name="Endereco" class="form-control" placeholder="Entre com o CEP ou parte do endereço. Ex: Tagua Life" />*@
                @Html.EditorFor(model => model.Endereco, new { htmlAttributes = new { @class = "form-control", @id = "endereco", @placeholder = "Entre com o CEP ou parte do endereço. Ex: Tagua Life" } })
                @*@Html.ValidationMessageFor(model => model.Endereco, "", new { @class = "text-danger" })*@
            </div>

            <div class="botao-marcar col-md-2" style="padding-top: 5px;">
                <input type="button" class="botao btn btn-marcamapa" id="btnEndereco" name="btnEndereco" value="Marcar no mapa" />
            </div>

            <div class="mapa col-md-12">
                <div id="mapa" class="map-mapa"></div>
                @Html.EditorFor(model => model.Latitude, new { htmlAttributes = new { @class = "form-control", @id = "latitude", @style = "display:none" } })
                @Html.EditorFor(model => model.Longitude, new { htmlAttributes = new { @class = "form-control", @id = "longitude", @style = "display:none" } })
                @*<input type="hidden" id="latitude" name="model.Latitude" />
            <input type="hidden" id="longitude" name="model.Longitude" />*@
            </div>

            <div class="col-form col-md-12">
                <input type="submit" class="btn btn-enviar" data-style="expand-right" value="Salvar" />
            </div>
        </div>
    }
</div>

