@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    <link href="~/Content/Alunos/delegacia_preferencia_aluno.css" rel="stylesheet" />
    

    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <input type="hidden" id="vbNome" value="@ViewBag.Nome" />
    <input type="hidden" id="vbNotaFinal" value="@ViewBag.NotaFinal" />
    <input type="hidden" id="vbId" value="@ViewBag.Id" />

    <div class="m-4">
        <div class="row formulario col-md-6 col-sm-6 col-lg-6">
            <p>Unidades que você escolheu.</p>
            
            <p id="totalRows" style="padding-left: 20px;"></p>
            <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                <table id="mytable" class="table-delegacias-preferencia">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Contemplada</th>
                            <th>Escolher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nome)
                            </td>
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Contemplada)*@
                                Sim
                            </td>

                            <td>
                                <a data-value="@item.ID" class="excluir-dpto btn btn-remover">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
