@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>
    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Delegacias/delegacia_todas.css" rel="stylesheet" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPb6icqT4MScket_GqPIIyPGl5A6CcThg&amp;sensor=true"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/locacoes.js"></script>
    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <input type="hidden" id="vbNome" value="@ViewBag.Nome" />
    <input type="hidden" id="vbNotaFinal" value="@ViewBag.NotaFinal" />
    <input type="hidden" id="vbId" value="@ViewBag.Id" />

    
    <div class="m-4">
        <p>@ViewBag.Nome escolha suas unidades de preferência.</p>
        <div class="row formulario col-md-4 col-sm-4 col-lg-4">
            <div class="col-form form-group col-md-2 filtro" style="padding-left: 20px;">
                <label>Busque pela unidade:</label>
                <input type="text" id="searchInput" class="form-control" />
            </div>

            <p id="totalRows" style="padding-left: 20px;"></p>
            <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                <table id="mytable" class="table">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Vagas</th>
                            <th>Escolher</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Vagas)
                                </td>
                                <td>
                                    <a id="escolher" value="@item.ID" class="btn btn-proximos">
                                        <span class="glyphicon glyphicon-filter"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>

        </div>
    </div>
