@model IEnumerable<GestaoDDD.Application.ViewModels.AlunoViewModel>

    <script src="~/Scripts/GoogleMaps/Alunos/tabela_filtro.js"></script>
    <link href="~/Content/Alunos/aluno.css" rel="stylesheet" />

    <div class="m-4">
        <div class="row formulario col-md-12 col-sm-6 col-lg-12">

            <div class="col-form form-group col-md-4" style="padding-left: 20px;">
                <label>Procure seu nome:</label>
                <input type="text" id="searchInput" class="form-control" />
            </div>

            <p id="totalRows" style="padding-left: 20px;"></p>
            <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                <table id="mytable" class="table">
                    <thead>
                        <tr>
                            <th>Posicao</th>
                            <th>Inscricao</th>
                            <th>Nome</th>
                            <th>Nota Etapa 1</th>
                            <th>Nota Final</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        @foreach (var item in Model)
                        {

                            <tr class="table-row" data-url="@Url.Action("PainelAluno", "Aluno", new { pAlunoId = item.ID })">
                                <td>
                                    @Html.DisplayFor(modelItem => item.Posicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Inscricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaEtapa1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaFinal)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
