@model IEnumerable<GestaoDDD.Application.ViewModels.AlunoViewModel>

    <div class="m-4">
        <div class="row formulario col-md-12 col-sm-6 col-lg-12">


            <div class="col-form form-group col-md-4" style="padding-left: 20px;">
                <label>Procure seu nome:</label>
                <input type="text" id="searchInput" class="form-control" />
            </div>

            <p id="totalRows" style="padding-left: 20px;"></p>
            <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                <table id="mytable" class="table">
                    <thead>
                        <tr>
                            <th>Posicao</th>
                            <th>Inscricao</th>
                            <th>Nome</th>
                            <th>Nota Etapa 1</th>
                            <th>Nota SAT</th>
                            <th>Nota TIP/DPP</th>
                            <th>Nota Prova CFP</th>
                            <th>Nota Final</th>
                            <th>Escolher Lotação</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Posicao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Inscricao)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaEtapa1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaSAT)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaTIPDPP)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaEtapa2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NotaFinal)
                                </td>
                                <td>
                                    <a href="@Url.Action("BuscaLocacoes", "Aluno", new { pAluno = item })" class="btn btn-proximos" title="Buscar Locacoes">
                                        <span class="glyphicon glyphicon-zoom-in"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            var totalRows = $("#mytable tr").length - 1;
            $("#totalRows").text("Total de linhas: " + totalRows);

            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                $("#mytable tr:not(:first)").filter(function () {
                    var rowValue = $(this).text().toLowerCase().normalize('NFD').replace(/[\u0300-\u036f]/g, "");
                    $(this).toggle(rowValue.indexOf(value) > -1);
                });
                var filteredRows = $("#mytable tr:visible").length - 1;
                $("#totalRows").text("Linhas encontradas: " + filteredRows);
            });
        });
    </script>
