@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Alunos/painel_aluno.css" rel="stylesheet" />
    <link href="~/Content/Alunos/delegacia_preferencia_aluno.css" rel="stylesheet" />
    <link href="~/Content/Alunos/delegacia_painel_aluno.css" rel="stylesheet" />

    <script src="~/Scripts/GoogleMaps/Alunos/painel_aluno.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos_preferencia.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/tabela_filtro.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos.js"></script>

    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <input type="hidden" id="vbNome" value="@ViewBag.Nome" />
    <input type="hidden" id="vbNotaFinal" value="@ViewBag.NotaFinal" />
    <input type="hidden" id="vbNotaEtapa1" value="@ViewBag.NotaEtapa1" />
    <input type="hidden" id="vbNotaEtapa2" value="@ViewBag.NotaEtapa2" />
    <input type="hidden" id="vbId" value="@ViewBag.Id" />

    <div class="painel">
        <div>
            <div class="titulo-aluno" style="margin-left: 20px;"><strong>Painel do aluno:</strong> @ViewBag.Nome</div>
            <div class="info-aluno" style="margin-left: 20px;"><strong>Inscricao: </strong> @ViewBag.Inscricao <strong>Cargo: </strong>@ViewBag.Cargo <strong> Posição: </strong> @ViewBag.Posicao </div>
            <div class="bloco-notas">
                <div class="bloco-coluna">
                    <strong>Nota Etapa 1:</strong>
                </div>
                <div class="bloco-coluna">
                    <strong>Nota Etapa 2:</strong>
                </div>
                <div class="bloco-coluna">
                    <strong>Nota Final:</strong>
                </div>
                <div class="bloco-coluna">
                    <input type="text" id="nota-etapa-1" style="border: 0px;" readonly />
                </div>
                <div class="bloco-coluna">
                    <input type="text" id="nota-etapa-2" style="border: 0px;" readonly />
                </div>
                <div class="bloco-coluna">
                    <input type="text" id="nota-atualizada" style="border: 0px;" readonly />
                </div>
            </div>
        </div>

        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Selecione Unidades de Preferência
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <p id="totalRows" style="padding-left: 20px;"></p>
                        <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                            <table id="mytable" class="table-delegacias-painel">
                                <thead>
                                    <tr>
                                        <th>Nome</th>
                                        <th>CEFLAG</th>
                                        <th>Bairro</th>
                                        <th>Pontuação</th>
                                        <th>Área de atuação</th>
                                        @*<th>Escolher</th>*@
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr class="escolher-dpto-row" data-value="@item.ID">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.EhSede)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Bairro)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Pontuacao)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AreaAtuacao)
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Unidades de Preferência
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="m-4">
                            <div class="row formulario col-md-6 col-sm-6 col-lg-6">
                                <p id="totalRows" style="padding-left: 20px;"></p>
                                <div class="table-responsive" style="padding-left: 20px; border: 1px solid black;">
                                    <table id="mytable" class="table-delegacias-preferencia">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>CEFLAG</th>
                                                <th>Bairro</th>
                                                @*<th title="Contemplada">Contemplada</th>*@
                                                <th>Remover</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tabela-dptos-preferencia">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
