@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Alunos/painel_aluno.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMaps/Alunos/painel_aluno.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos_preferencia.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/tabela_filtro.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos.js"></script>

    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <input type="hidden" id="vbNome" value="@ViewBag.Nome" />
    <input type="hidden" id="vbNotaFinal" value="@ViewBag.NotaFinal" />
    <input type="hidden" id="vbId" value="@ViewBag.Id" />
    <input type="hidden" id="vbNotaCFP" value="@ViewBag.NotaCFP" />

    <div class="painel">
        <div>
            <h2 style="margin-left: 20px;"><strong>Painel do aluno:</strong> @ViewBag.Nome.</h2>
            <div class="bloco-notas">
                <div class="bloco-coluna">
                    <strong>Nota Final:</strong>
                </div>
                <div class="bloco-coluna">
                    <input type="text" id="nota-atualizada" style="border: 0px;" readonly />
                </div>
            </div>
            <div class="bloco-nota-cfp">
                <div class="bloco-coluna" style="display: flex;">
                    <input type="text"  maxlength="4" min="30" max="60" step="0.01" pattern="^\d+(,\d{2})?$" id="notacfp" style="width: 50%; order: 1;" placeholder="Atualize sua Nota do CFP" class="form-control col-form-2">
                    <a class="btn btn-cfp" id="botao-cfp" style="order: 2;">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container-painel">
            <div class="half">
                @{
                    Html.RenderPartial("BuscaDptosPolicia");
                }
            </div>
            <div class="half" id="retornoPreferencias">
                @{
                    Html.RenderPartial("BuscaDptosPreferenciaAluno", null);
                }
            </div>
        </div>
    </div>
