@model IEnumerable<GestaoDDD.Application.ViewModels.DepartamentoPoliciaViewModel>

    @{
        Layout = "~/Views/Shared/_CFP.cshtml";
    }
    <link href="~/Content/Alunos/painel_aluno.css" rel="stylesheet" />
    <script src="~/Scripts/GoogleMaps/Alunos/painel_aluno.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos_preferencia.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/tabela_filtro.js"></script>
    <script src="~/Scripts/GoogleMaps/Alunos/busca_dptos.js"></script>

    <script src="~/Scripts/jquery-ui.custom.min.js"></script>
    <script src="~/Scripts/jquery-2.2.3.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/sweetalert.min.js"></script>
    <link href="~/Styles/sweetalert.css" rel="stylesheet" />

    <input type="hidden" id="vbNome" value="@ViewBag.Nome" />
    <input type="hidden" id="vbNotaFinal" value="@ViewBag.NotaFinal" />
    <input type="hidden" id="vbId" value="@ViewBag.Id" />

    <h2 style="margin-left: 20px;">Painel do aluno</h2>
    <p><label style="margin-left: 20px;">Nome: @ViewBag.Nome.</label></p>
    <p><label style="margin-left: 20px;">Nota Final: @ViewBag.NotaFinal</label></p>

    <div>
        <div class="col-form col-md-2" style="padding-left: 20px;">
            Sua nota do CFP: @ViewBag.NotaFinal <input type="text" id="notacfp" style="width: 50%;" placeholder="Nota CFP" class="form-control">
        </div>
    </div>
    <div class="container-painel">

        @*<div class="half">
            <p style="margin-left: 20px;">Como não há definição sobre a quantidade de vagas e formas de escolha entre turmas, então por enquanto apenas selecione as unidades que você tenha preferência. </p>
        </div>
        <div class="half">
            <p style="margin-left: 20px;">A coluna "Contemplada" poderá mudar a depender da quantidade de vagas e sua nota.</p>
        </div>*@
        <div class="half">
            @{
                Html.RenderPartial("BuscaDptosPolicia");
            }
        </div>
        <div class="half" id="retornoPreferencias">
            @{
                Html.RenderPartial("BuscaDptosPreferenciaAluno", null);
            }
        </div>
    </div>
